$header-height: 64px;
$footer-height: 59px;

$cathybk-font-family: '微軟正黑體' !important;

$white-color: #ffffff;
$green-color: #009941;
$line-gray: #bbbbbb;
$gray-dark-color: #474647;
$orange-color: #ff6600;
