<!-- <div class="header">
  <div class="row">
    <div class="navigator" (click)="showMenu()">
      <app-icon-navigator></app-icon-navigator>
    </div>
    <div class="logo">
      <app-icon-header-logo></app-icon-header-logo>
    </div>
    <div class="title">行動對保及開戶審查系統</div>
    <div class="login-info">
      <span class="code">426</span>
      <span class="name">王大明</span>
      <span class="logout">登出</span>
    </div>
  </div>
</div> -->

<nav class="header navbar navbar-expand-md navbar-white bg-white">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div class="navigator" (click)="showMenu()">
          <app-icon-navigator></app-icon-navigator>
        </div>
      </li>
      <li class="nav-item">
        <div class="logo">
          <app-icon-header-logo></app-icon-header-logo>
        </div>
      </li>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <span class="navbar-brand mx-auto title" href="#"
      >行動對保及開戶審查系統</span
    >
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <span class="code">426</span>
      </li>
      <li class="nav-item">
        <span class="name"><span class="id">16868</span> 王大明</span>
      </li>
      <li class="nav-item">
        <a class="name">登出</a>
      </li>
    </ul>
  </div>
</nav>
<div class="menu" *ngIf="isShowMenu" (mouseleave)="hideMenu($event)">
  <!-- <div class="function-title">對保業務</div>
  <div class="function-item">開戶對保服務</div>
  <div class="function-item">對保案件查詢</div>
  <div class="function-line"></div> -->
  <div class="function-title">審查業務</div>
  <div class="function-item">
    <a href="#" [routerLink]="['/review']" class="simple-text"
      >數存開戶審查服務</a
    >
  </div>
  <div class="function-item">
    <a href="#" [routerLink]="['/reviewcase']" class="simple-text"
      >開戶審查案件查詢</a
    >
  </div>
  <!-- <div class="function-line"></div>
  <div class="function-item">數位存款升級服務</div> -->
</div>
