<div class="occupation">
  <div class="compare-header-2 border-radius-0">
    <div class="row">
      <div class="col-6 text-center">行業</div>
      <div class="col-6 text-center">職位</div>
    </div>
  </div>
  <div class="compare-body-data">
    <ul class="list-group border-radius-0">
      <li class="list-group-item p-0">
        <div class="row">
          <div
            class="col-6 text-left compare-data-text border-right-line pt-2 pb-2"
          >
            博弈、軍火、高單價商品、典當/民間融資、不動產<span class="blue">租賃/買賣</span>/經紀人、<span class="blue">人力(外勞)仲介</span>
          </div>
          <div
            class="col-6 text-left compare-data-text pt-2 pb-2"
          >
            高階主管職位之人
          </div>
        </div>
      </li>
      <li class="list-group-item p-0">
        <div class="row">
          <div
            class="col-6 text-left compare-data-text border-right-line pt-2 pb-2"
          >
            集中式虛擬貨幣業者(發行遊戲點數，占營收≥25%)
          </div>
          <div
            class="col-6 text-left compare-data-text pt-2 pb-2"
          >
            高階主管職位之人
          </div>
        </div>
      </li>
      <li class="list-group-item p-0">
        <div class="row">
          <div
            class="col-6 text-left compare-data-text border-right-line pt-2 pb-2"
          >
            專業服務之提供者
            <ol class="ml-3">
              <li>律師/法律/公證人/會計師等事務所</li>
              <li>法人設立代理人(專門為他人代辦公司籌備/設立事宜)</li>
            </ol>
          </div>
          <div
            class="col-6 text-left compare-data-text pt-2 pb-2"
          >
            <ol class="ml-3">
              <li>執業律師/公證人/會計師(含合夥人及對外提供法律/稅務服務之受雇專業人員)</li>
              <li>任職於法人設立代理人之人</li>
            </ol>
          </div>
        </div>
      </li>
      <li class="list-group-item p-0">
        <div class="row">
          <div
            class="col-6 text-left compare-data-text border-right-line pt-2 pb-2"
          >
            非營利事業(限政治、宗教、社福<span class="blue">慈善</span>)
          </div>
          <div
            class="col-6 text-left compare-data-text pt-2 pb-2"
          >
            高階主管職位及理監事或具控制權之人
          </div>
        </div>
      </li>
      <li class="list-group-item p-0">
        <div class="row">
          <div
            class="col-6 text-left compare-data-text border-right-line pt-2 pb-2"
          >
            大使館/領事館
          </div>
          <div
            class="col-6 text-left compare-data-text pt-2 pb-2"
          >
            領有外交簽證及享有外交特權之外交人員及其隨行親屬
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
