<div class="form-row">
  <div class="col-sm-10">
    <app-image-cropper
      [imageURL]="imageURL"
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [containWithinAspectRatio]="containWithinAspectRatio"
      [aspectRatio]="4 / 3"
      [resizeToWidth]="256"
      [cropperMinWidth]="128"
      [onlyScaleDown]="true"
      [roundCropper]="false"
      [canvasRotation]="canvasRotation"
      [transform]="transform"
      [alignImage]="'center'"
      [style.display]="showCropper ? null : 'none'"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady($event)"
      (loadImageFailed)="loadImageFailed()"
    ></app-image-cropper>
  </div>
  <div class="col-sm-2">
    <div class="image-cropper-content">
      <div class="image-cropper-button" (click)="rotateLeft()">
        <app-icon-rotate></app-icon-rotate>
        旋轉
      </div>
      <div class="image-cropper-button" (click)="zoomIn()">
        <app-icon-zoom-increase></app-icon-zoom-increase>
        放大
      </div>
      <div class="image-cropper-button" (click)="zoomOut()">
        <app-icon-zoom-decrease></app-icon-zoom-decrease>
        縮小
      </div>
    </div>
  </div>
</div>
