<svg
  width="8px"
  height="24px"
  viewBox="0 0 6 18"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <title>Path</title>
  <defs>
    <path
      d="M1018,200 L1411,200 C1413.20914,200 1415,201.790861 1415,204 L1415,787 C1415,789.209139 1413.20914,791 1411,791 L1018,791 C1015.79086,791 1014,789.209139 1014,787 L1014,204 C1014,201.790861 1015.79086,200 1018,200 Z"
      id="path-1"
    ></path>
    <filter
      x="-2.6%"
      y="-1.8%"
      width="105.2%"
      height="103.6%"
      filterUnits="objectBoundingBox"
      id="filter-2"
    >
      <feMorphology
        radius="1"
        operator="dilate"
        in="SourceAlpha"
        result="shadowSpreadOuter1"
      ></feMorphology>
      <feOffset
        dx="0"
        dy="0"
        in="shadowSpreadOuter1"
        result="shadowOffsetOuter1"
      ></feOffset>
      <feGaussianBlur
        stdDeviation="2.5"
        in="shadowOffsetOuter1"
        result="shadowBlurOuter1"
      ></feGaussianBlur>
      <feColorMatrix
        values="0 0 0 0 0.133333333 0 0 0 0 0.133333333 0 0 0 0 0.133333333 0 0 0 0.1 0"
        type="matrix"
        in="shadowBlurOuter1"
      ></feColorMatrix>
    </filter>
  </defs>
  <g
    id="default"
    stroke="none"
    stroke-width="1"
    fill="none"
    fill-rule="evenodd"
  >
    <g
      id="原RM風格/客戶列表/組織關聯onHoverMenu"
      transform="translate(-1035.000000, -222.000000)"
    >
      <rect fill="#FFFFFF" x="0" y="0" width="1440" height="1080"></rect>
      <g id="searchRectangle">
        <use
          fill="black"
          fill-opacity="1"
          filter="url(#filter-2)"
          xlink:href="#path-1"
        ></use>
        <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
      </g>
      <g id="Group-1" transform="translate(175.000000, 200.000000)"></g>
      <g
        id="Group-2"
        transform="translate(1034.000000, 221.000000)"
        fill="#009F41"
      >
        <g id="iconPath">
          <rect id="Rectangle" x="1" y="1" width="2" height="2"></rect>
          <rect id="Rectangle-Copy-5" x="5" y="1" width="2" height="2"></rect>
          <rect id="Rectangle-Copy-2" x="1" y="9" width="2" height="2"></rect>
          <rect id="Rectangle-Copy-6" x="5" y="9" width="2" height="2"></rect>
          <rect id="Rectangle-Copy-4" x="1" y="17" width="2" height="2"></rect>
          <rect id="Rectangle-Copy-7" x="5" y="17" width="2" height="2"></rect>
          <rect id="Rectangle-Copy" x="1" y="5" width="2" height="2"></rect>
          <rect id="Rectangle-Copy-8" x="5" y="5" width="2" height="2"></rect>
          <rect id="Rectangle-Copy-3" x="1" y="13" width="2" height="2"></rect>
          <rect id="Rectangle-Copy-9" x="5" y="13" width="2" height="2"></rect>
        </g>
      </g>
    </g>
  </g>
</svg>
